/*

Rosa: #ECC9B5
Brun: #BB9C7D

*/

body {
    /*background-color: #ECC9B5;*/
    /*background-color: #ececec;*/
    background-image: url('../img/pink_rice.png');
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h2 {
    font-family: 'Dosis', cursive;
}

.extrabackground {
    background-image: url('../img/monogram_white.png');
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background-attachment: fixed;
    background-size: 300px;
}

.container {
    padding-top: 20px;
    border-radius: 10px;
    /*background-color: #fde3d4;*/
    /*background-color: #ECC9B5;*/
    padding-bottom: 50px;
}

.pagebox {
    padding-left: 30px;
    padding-right: 30px;
}

.row.pagebox {
    padding-left: 15px;
    padding-right: 15px;
}

.pagebox {
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.portrett {
    margin-top: 10px;
    text-align: right;
}

.portrett img {
    border-radius: 100%;
}

.menubox {
    margin-top: 5px;
    padding: 0;
    margin-left: 10px;
}

.menubox ol {
    display: flex;
    margin-top: 10px;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

@media (min-width: 768px) {
.menubox ol {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
}

.menubox ol>li {
    display: flex;
    /*display: block;
    margin-right: 20px;
    float: left;*/
    list-style-type: none;
    padding: 0;
}

.menubox ol>li>a {
    color: #BB9C7D;
    font-size: 1.5em;
    text-decoration: none;
    border-bottom: 1px #BB9C7D dashed;
}

.menubox ol>li>a:hover {
    color: #7F7062;
    text-decoration: none;
    border-bottom: 1px #7F7062 solid;
}

.carousel#top-carousel {
    padding: 0;
    border-radius: 10px;
}

@media (min-width: 840px) {
.carousel#top-carousel {
    margin-left: -50px;
    margin-right: -50px;    
}
}

.carousel#top-carousel img {
    border-radius: 10px 10px 10px 10px;
}

.carousel#top-carousel .carousel-control {
    border-radius: 10px 10px 10px 10px;
}

.hashtag {
    position: absolute;;
    right: 20px;
    bottom: 20px;
    z-index: 15;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 1em;
    text-shadow: 0px 0px 4px black; 
}

.headertext {
    position: absolute;
    bottom: 60px;
    color: white;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%
}

.monogram {
    position: absolute;
    bottom: 60px;
    left: 60px;
    z-index: 15;
    width: 150px;
 /*   left: 50%;
    width: 120px;
    margin-left: -60px;*/
}

.monogram img {
    width: 120px;
}

.headertext h1 {
    text-align: center;
    /*font-family: 'Dosis', cursive;*/
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 3em;
    /*text-transform: uppercase;*/
    text-shadow: 0px 0px 4px black; 
    line-height: 0.8em;
}

@media (min-width: 768px) {
    .headertext h1 {
        font-size: 4em;
    }

    .hashtag {
        font-size: 2.0em;
    }
}

@media (min-width: 992px) {
    .headertext h1 {
        font-size: 6em;
    }

    .hashtag {
        font-size: 2.5em;
    }
}

@media(max-width: 500px) {
    .headertext {
        bottom: 20px;
    }

    .headertext h1 {
        font-size: 2em;
    }

    .carousel-indicators {
        display: none;
    }

    .hashtag {
        bottom: 10px;
    }
}

@media(max-width: 340px) {
    .headertext {
        bottom: 20px;
    }

    .headertext h1 {
        font-size: 1.5em;
    }
}

.headertext h1 small {
    color: #eaeaea;
    font-size: 0.6em;
}

.headertext h1 .larger {
    /*font-size: 130%;?*/   
}

.mapsoverlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:450px; /* your iframe height */
   top:450px;  /* your iframe height */
   margin-top:-450px;  /* your iframe height */
}

#insta {
    display: flex;
    flex-flow: row wrap;
}

#insta div {
    margin: 10px;
}