/*

Rosa: #ECC9B5
Brun: #BB9C7D

*/

body {
    /*background-color: #ECC9B5;*/
    /*background-color: #ececec;*/
    background-image: url('../img/pink_rice.png');
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h2 {
    font-family: 'Dosis', cursive;
}

.extrabackground {
    background-image: url('../img/monogram_white.png');
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background-attachment: fixed;
    background-size: 300px;
}

.container {
    padding-top: 20px;
    border-radius: 10px;
    /*background-color: #fde3d4;*/
    /*background-color: #ECC9B5;*/
    padding-bottom: 50px;
}

.pagebox {
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.portrett {
    margin-top: 10px;
    text-align: right;
}

.portrett img {
    border-radius: 100%;
}

.menubox {
    margin-top: 5px;
    padding: 0;
}

.menubox ol {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin: 0;
    padding: 0;
    flex-directon: row;
    justify-content: space-between;
}

.menubox ol>li {
    display: flex;
    /*display: block;
    margin-right: 20px;
    float: left;*/
    list-style-type: none;
    padding: 0;
}

.menubox ol>li>a {
    color: #BB9C7D;
    font-size: 1.5em;
    text-decoration: none;
    border-bottom: 1px #BB9C7D dashed;
}

.menubox ol>li>a:hover {
    color: #7F7062;
    text-decoration: none;
    border-bottom: 1px #7F7062 solid;
}

.carousel#top-carousel {
    margin-left: -50px;
    margin-right: -50px;    
    padding: 0;
    border-radius: 10px;
}

.carousel#top-carousel img {
    border-radius: 10px 10px 10px 10px;
}

.carousel#top-carousel .carousel-control {
    border-radius: 10px 10px 10px 10px;
}

.headertext {
    position: absolute;
    bottom: 60px;
    color: white;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%
}

.monogram {
    position: absolute;
    bottom: 60px;
    left: 60px;
    z-index: 15;
    width: 150px;
 /*   left: 50%;
    width: 120px;
    margin-left: -60px;*/
}

.monogram img {
    width: 120px;
}

.headertext h1 {
    text-align: center;
    /*font-family: 'Dosis', cursive;*/
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 6em;
    /*text-transform: uppercase;*/
    text-shadow: 0px 0px 4px black; 
    line-height: 0.8em;
}

.headertext h1 small {
    color: #eaeaea;
    font-size: 0.6em;
}

.headertext h1 .larger {
    /*font-size: 130%;?*/   
}